// ***** CUSTOM COLORS *****
$blue_grey: #3c4967;
$soft_black: #303030;
$mustard: #aa9739;
$off_white: #f2f2f2;

// ***** TEXT *****
$default_text: $soft_black;
$link_text: $blue_grey;
$link_text_hover: $mustard;

// ***** NAVIGATION *****
$nav_background: $off_white;

// ***** SECTION *****
$section_header_border: $mustard;

// Break points
$break_1: 770px;